* {
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: sans-serif;
	background-color: #000;
}
h1 {
	background-image: -webkit-linear-gradient(left,#0ca2e0 32%,#25dde4 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 100px;
}